body {
  font-family: sans-serif;
}

#app {
  margin: 10px auto;
  border: 1px solid red;
  width: 50%;
  text-align: center;
  padding: 20px;
}

.fa {
  font-size: 30px;
  color: yellow;
}

.clr-red {
  color: red;
}
